<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paymentseccess</title>
    <link rel="stylesheet" href="css/paymentsuccess.css">
</head>
<body>
    <div class="payment-success">
        <div class="header">
          <i class="ion-close-round close"></i>
        </div>
        <div class="body">
          <h2 class="title">Payment completed</h2>
          <img class="main-img" src="payment_images.jpg" alt="">
          <p>Your payment is successfully completed!! 
          </p>
      <a href="/"><button class="btn btn-primary"  type="button">Next</button></a>
          
        </div>
      </div>
</body>